<section id="boxImg">
    <div id="img1">
        <div>
            <p></p>
            <p></p>
        </div>
        <p>New York</p>
    </div>
    <div id="img2">
        <div>
            <p></p>
            <p></p>
        </div>
        <p></p>
    </div>
    <div id="img3">
        <div>
            <p></p>
            <p></p>
        </div>
        <p></p>
    </div>
    <div id="img4">
        <div>
            <p></p>
            <p></p>
        </div>
        <p></p>
    </div>
    <div id="img5">
        <div>
            <p></p>
            <p></p>
        </div>
        <p></p>
    </div>
    <div id="img6">
        <div>
            <p></p>
            <p></p>
        </div>
        <p></p>
    </div>
</section>