* {
    text-decoration: none;
}

html {
    
    justify-content: center;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

body {
    height: 100%;
    width: 100%;
}

header {
    position: absolute;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#navbar {
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
    padding: 10px;
}

#navHeader {
    color: white;
    display: flex;

}

#navHeader>ul>li a {
    color: white;
    text-decoration: none;

}

#redesSociales i {
    color: white;
    min-height: 40px;
    min-width: 40px;
    padding: 5px;
    text-align: center;
    border-radius: 50%;
}

#redesSociales i:nth-child(1) {
    background: RGB(48, 156, 194);

}

#redesSociales i:nth-child(2) {
    background: RGB(75, 174, 62);

}

#redesSociales i:nth-child(3) {
    background: RGB(45, 75, 127);

}

#redesSociales i:nth-child(4) {
    background: RGB(61, 97, 166);

}

#redesSociales i:nth-child(5) {
    background: RGB(17, 90, 131);

}

#redesSociales i:nth-child(6) {
    background: RGB(230, 42, 40);

}

.logo img {

    width: 100%;
    height: auto;
}

.logo {


    width: 100px;


}

.logo h3 {
    font-size: 15px;
    text-align: center;
}

#tituloPrincipal {
    justify-content: center;
    height: 100vh;
    display: flex;
    align-items: center;
    color: white;
    background-image: url(../images/nathan-anderson-316188-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#tituloPrincipal h1 {
    width: 100%;
}

#tituloPrincipal h2 {
    width: 100%;
}

#tituloPrincipal div {
    min-width: 500px;
    min-height: 350px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

}

#botonDestinos {
    padding: 10px;
    border: solid yellow;
    background-color: yellow;
    text-decoration: none;
    color: black;
    width: 115px;
    height: 44px;
    text-align: center;
    margin-top: 16px;
    font-style: italic;
    font-weight: 600;
}

footer {
    background: RGB(20, 25, 57);
    color: RGB(255, 255, 253);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#footer1 {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 322px;
    border-bottom: 1px solid black;
    width: 100%;
}

#footer1>div {
    margin: auto 50px;
    padding: 50px;
    height: 100%;
}

#footer1>div>p:nth-child(4) {
    font-size: 10px;
}

#footer1>div>ul {
    list-style: none;
}


#footer2 {
    margin: 30px;

}

#footer2 p {
    font-size: 10px;
}

#newsletter {
    flex-direction: column;

    display: flex;
}

#newsletter input {
    color: black;
}

#boxImg{

   
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    flex-wrap: wrap;
    font-weight: 700;

}
#boxImg>div{
    display: flex;
    flex-direction: column;
}
.item{
    
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}
.item span{
    font-size: 1.2em;
    

}

.img{
    width: 300px;
    height: 270px;
    background-size: cover;
    position: relative;
    margin: 50px;
    margin-bottom: 12px;
}

.img  p:nth-child(1){
    position: absolute;
    color:white;
    background-color: RGB(20,25,57);
    left: 0;
    right: 0;
    top: 0;
    padding: 10px;
    font-size: 1.2em;
}
.img  p:nth-child(2){
    padding: 1em;
    position: absolute;
    color: black;
    background-color: RGB(251,239,0);
    right: 0;
    font-size: 1.2em;
}

.img1 {
 
    background-size: cover;
  
    background-image: url(../images/new_york.JPG);
}

.img2 {
    background-size: cover;
    background-image: url(../images/tokyo.JPG);
}

.img3 {
    background-size: cover;
    background-image: url(../images/madrid.JPG);
}

.img4 {
    background-size: cover;
    background-image: url(../images/Egipto.jpg);
}

.img5 {
    background-size: cover;
    background-image: url(../images/beijing.JPG);
}

.img6 {
    background-size: cover;
    background-image: url(../images/buenos_aires.JPG);
}

#imgSection{
    background-image: url(../images/sectionquiensomostio.jpg);
    justify-content: flex-start;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 30vh 5vw;
   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#subrayado{
    position: absolute;
    content: '';
    width: 228px;
    height: 5px;
    background: yellow;
    top: 80px;
    left: 20px;
}
#divSection{
    position: relative;
    color:rgb(20, 25, 57);
    background-color: white;
    max-width: 500px;
    padding: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    
}
#imgSection h2{
    margin-bottom: 22px;
    font-size: 2em;
    width: 100%;
}
#divSection a {
    background: #20243E;
    padding: 19px;
    color: yellow;
    text-decoration: none;
    font-size: 1.8em;
    font-style: italic;
  }
  #mapForm{
  
       
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        height: 100vh;;;
  }
  .subrayado2{
   
    content: '';
    width: 30px;
    height: 2px;
    background: blue;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  #formulario{
    width: 75vh;
    height: 90vh;
    font-weight: 600;
  }
  #map{
    width: 75vh;
    height: 90vh;
  }
  .fontForm{
    font-weight: 100 ;
    font-size: 0.7em ;
    font-style: italic ;
  }
  .fontForm2{
    font-weight: 100 ;
    font-size: 0.7em ;
    margin-bottom: 28px;
  }